header {
    margin-bottom: 25px;
    .logo {
        img {
            width: 160px;
        }
    }

    .tools {
        padding-top: 2rem;

        .pi {
            margin-right: 10px;
        }
    }

    .search {
        padding-top: 1.7rem;
    }
}